body {
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* TOPページ */
.regist_link{
    text-align:right;
    padding-right: 5px;
}

.top-main {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title img {
    width: 600px;
    height: auto; 
    margin: 35px auto;
}

.login input[type="submit"] {
    background-color: #007bff;
    color: rgb(32, 20, 211);
    cursor: pointer;
    transition: background-color 0.3s;
}

.top-bottom-image img{
    width: 600px;
    height: auto; 
    margin: 35px  auto;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;  
}

.login input[type="email"],
.login input[type="password"]{
padding: 10px;
font-size: 16px;
border: 2px solid #ccc;
border-radius: 6px;
background-color: azure;
}

.login input[type="submit"] {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 6px;
    background-color: rgb(82, 171, 223);
}
.login input[type="submit"]:hover {
    background-color: #1c81ecc0;
}

.footer{
    background-color: #e7e7e7;
    height: 40px;
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    font-weight: bold;
}